:root {
    --menu: #696969;
    --card: #99999935;
    --text: #FFFFFF;
    --stats: #00E0FF;
    --sats-bg: #AAAAAA;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* TODO: change px to relative units when rest of design is more complete */
body {
    display: flex;
    margin: 0;
    background-image: url("/static/images/backgrounds/Windoge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: fit-content;
    margin: 1rem;
}

.content {
    width: 100%;
    margin: 1rem;
    nav ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text);
    background-color: var(--card);
    box-shadow: 1px 1px 2px #000000, inset 1px 1px 2px #FFFFFF;
    backdrop-filter: blur(5px);
}

.datetime {
    display: flex;
    flex-direction: column;

    .time {
        font-size: 4rem;
    }
}

.weather {
    .time-of-day {
        font-size: 2rem;
    }

    .weather-info {
        display: flex;

        .weather-status {
            display: flex;
            flex-direction: column;
        }
    }
}

main {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-decoration: none;
        color: var(--text);
        width: fit-content;

        img {
            max-height: 5rem;
            max-width: 5rem;
            border-radius: 1rem;
        }

        &:hover {
            color: var(--stats);
            box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px #000000;
        }
    }
}