{% extends "index.html" %}

{% block content %}
    {% for category in categories %}
    <div class="category {{ category }}">
        <header class="card">
            {{ category }}
        </header>
        <div class="links">
        {% for site in sites %}
        {% if site.category == category %}
            <a class="site card link" href="{{ site.url }}" target="_blank">
                <img src="{{ site.img }}" alt="{{ site.name }}">
                {{ site.name }}
                {{ site.description }}
            </a>
        {% endif %}
        {% endfor %}
        <form action="{{ url_for('cms.add_settings') }}"></form>
        </div>
    </div>
    {% endfor %}
{% endblock %}